/*.span8 h3 { text-align: center;margin-bottom: .5em; }
#reportContainer table * { margin-bottom: .2em; }
.span12 h3 { text-align: center;margin-bottom: .5em; }
label { display: inline-block }
*/
table.tablesorter thead tr th { font-weight: bold; }
table.tablesorter th, table.tablesorter td { white-space: normal;font-size: .9em;line-height:14px; }
table.biz-rule-action{
  white-space:normal;
  table-layout: fixed;
  width: 100%;
  overflow:hidden;
  word-wrap:break-word;
}

table.biz-rule-action tr td{
	min-width:100px;
}

table.biz-rule-action tr td.action-message{
	min-width:300px;
	width:300px;
}
