.columnHighlight { background-color: #9BFF9B; }
span.column { display:block;margin:.2em 0; }
.helpSpan { font-size:.7em;color:#444; }
.deleteIcon { margin:.-2em .4em; }
p.helpSpan { margin:0;float:right; }
p.fields { margin:0; }
input.temp { width:100%;margin:.2em 0; }
span.column { padding:.2em;margin:0; }
