.columnHighlight { background-color: #9BFF9B; }
.temp { width:100%;margin:.2em 0; }
span.column { display:block;margin:.2em 0; }
h4 { margin:2em 0 .4em 0; }
.helpSpan { font-size:.7em;color:#444; }
.deleteIcon { margin:.-2em .4em; }
