thead th, td {
	border:solid 1px silver;
	padding:2px;
	font-weight:normal;
}
.privilege_enabled {
	background-color:#90EE90;
	text-align:center;
}
.header {
	background-color:#E3EDE6;
	cursor: hand;
}
.section {
	background-color:#9DBFA8;
	cursor: hand;
}
.verticaltext {
  	font-size:12px;
}

table tbody td {
   white-space: nowrap;
}