body {
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	padding-top: 44px;
}

.inline       { display: inline; }
.inline-block { display: inline-block; }
.no-margin         { margin: 0 !important; }
.margin-default-left { margin-left: 10px !important; }
.margin-default-right { margin-left: 10px !important; }
.error { color: red; }

#homeContainer h3, #homeContainer h4 {
	text-align: center;
	margin: 10px 0 0 0;
}

#footer {
	position:fixed;
	bottom: 20px;
}

.fullWidth {
	width: 100%;
}

.fullWidth.top tr td {
	vertical-align: top;
}

table.middle tr td {
	vertical-align: middle;
}

tr.highlight td {
	background-color: #ffff80 !important;
}

.highlight {
	background-color: #ffff80 !important;
}
.exclusive {
	text-align: center;
	background-color: #BDD7FD !important;
}

#quickLinks td {
	width: 25%;
}

.topMargin { margin-top: 20px; }
.padRight { padding-right: .5em; }

.horizontalMargin {
	margin: 10px 0;
}

a.connected {
	float:right;
	margin: 0 .3em;
	font-size:.8em;
}

table.tablesorter.localized tbody td {
   vertical-align: middle;
   padding-left: 8px;
}
table.tablesorter.localized tbody td.bare {
   width: 240px;
}
table.tablesorter.localized tbody td.bare select {
   font-size: 11px;
   width: 240px;
   margin: 0;
   padding-left: -10px;
   border: none;
}
h4.index {
  margin-right:12px;
  margin-top:6px;
}