tr.highlight td {
	background-color: #ffff80 !important;
}
.highlight {
	background-color: #ffff80 !important;
}
.exclusive {
	text-align: center;
	background-color: #BDD7FD !important;
}

#stored-sql {
  max-height: 175px;
  overflow-x: hidden;
  overflow-y: auto;
}
#stored-sql .input-group {
  min-height: 25px;
  max-height: 25px;
}

iframe.theme {
	width: 204px;
	height: 120px;
	margin: 1em;
	scrolling: no;
}

.table.recent td, .table.recent th {
  border-top: none !important;
}

.error {
	background-color: pink;
}
button.pointer, 
input.stored {
	cursor: pointer;
}