<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
	<Product Manufacturer="Dovetail Software" Id="{A382F3D7-A437-4db3-9B88-D14F5257490F}" Language="1033" Name="Dovetail Software Bolt" Version="2.6" UpgradeCode="{70CC1DE1-7B7B-46d8-A7DE-AB3843E976CF}">
	<Package Id="{C2E520F4-4BC2-46e4-B51A-5CA2DD431C5F}" Keywords="Installer" Description="Dovetail Software Bolt" Comments="This installer database contains the logic and data required to install Dovetail Bolt." Manufacturer="Dovetail Software" InstallerVersion="200" Languages="1033" Compressed="yes" SummaryCodepage="1252" />
	<Media Id="1" DiskPrompt="CD-ROM #1" EmbedCab="yes" Cabinet="bolt.cab" />

	<Property Id="dovetailURL"><![CDATA[http://dovetailsoftware.com/]]></Property>
	<Property Id="ARPHELPLINK"><![CDATA[http://www.dovetailsoftware.com/]></Property>
	<Property Id="ARPNOMODIFY"><![CDATA[1]]></Property>
	<Property Id="DiskPrompt"><![CDATA[Dovetail Software Bolt Installation [1]]]></Property>
	<Property Id="ARPCONTACT"><![CDATA[For Customer Support please contact support@dovetailsoftware.com]]></Property>
	<Property Id="ARPPRODUCTICON"><![CDATA[applicationIcon]]></Property>

	<Property Id="W3SVCMAJORVERSION" Value="#0">
		<RegistrySearch Id="W3SVCMAJORVERSION" Type="raw" Root="HKLM" Key="System\CurrentControlSet\Services\W3SVC\Parameters" Name="MajorVersion" />
	</Property>

	<Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
	<Property Id="CONFIGUREUDL" Value="yes" />
	<Property Id="LAUNCHBOLT" Value="yes" />
	<Property Id="BOLTURL" Value="http://localhost/bolt/" />

	<Directory Id="TARGETDIR" Name="SourceDir">
	<Directory Id="ProgramFilesFolder" Name="PFiles">
	<Directory Id="Dovetail" Name="Dovetail" LongName="Dovetail Software">
	<Directory Id="INSTALLDIR" Name="Bolt">
		<Component Id="boltIIS6" Guid="{5F266CC4-E416-4d70-9428-9673BCEFD112}">
			<Condition>W3SVCMAJORVERSION &gt; "#5"</Condition>
			<WebVirtualDir Id="boltVirtualDirectory6" Directory="INSTALLDIR" Alias="Bolt" WebSite="DefaultWebSite">
				<WebApplication Id="boltWebApplication6" Name="Bolt"/>
			</WebVirtualDir>
			<Shortcut Id="bolt.url.iis6" Name="boltUrl" LongName="Dovetail Bolt" Directory="ProgramMenuDir" Show="normal" Target="[BOLTURL]"  Icon="applicationIcon" />
		</Component>
		<Component Id="boltIIS5" Guid="{B4301DA0-C7A3-48d5-B545-191CD87D9DFD}">				
			<Condition>W3SVCMAJORVERSION &lt; "#6" AND W3SVCMAJORVERSION &gt; "#3"</Condition>
			<WebVirtualDir Id="boltVirtualDirectory5" Directory="INSTALLDIR" Alias="Bolt" WebSite="DefaultWebSite">
				<WebApplication Id="boltWebApplication5" Isolation="high" Name="fcSDKdemo"/>
			</WebVirtualDir>
			<Shortcut Id="bolt.url.iis5" Name="boltUrl" LongName="Dovetail Bolt" Directory="ProgramMenuDir" Show="normal" Target="[BOLTURL]"  Icon="applicationIcon" />
		</Component>

		<Component Id="boltDocumentation" Guid="10a643e3-2f66-41d8-862f-e6fe99f8ce7b" DiskId="1">
			<File Id="boltDocs" Name="bolt.chm" src="$(env.bolt.docs.dir)\bolt.chm" />
			<Shortcut Id="docsShortcut" Directory="ProgramMenuDir" Name="boltDocs" LongName="Bolt Documentation" Target="[#boltDocs]" Hotkey="0" IconIndex="0" Show="normal" WorkingDirectory="TARGETDIR" />
		</Component>
		<Component Id="boltWebApplicationFiles" Guid="744b140c-5be7-4fae-b503-9576efdf6c4f" DiskId="1">
			<File Id="file0" Name="admin.asp" src="$(env.bolt.dir)\admin.asp" />
			<File Id="file1" Name="admin2.asp" src="$(env.bolt.dir)\admin2.asp" />
			<File Id="file2" Name="adojavas.inc" src="$(env.bolt.dir)\adojavas.inc" />
			<File Id="file3" Name="BG.gif" src="$(env.bolt.dir)\BG.gif" />
			<File Id="boltUDL" Name="bolt.udl" src="$(env.bolt.dir)\bolt.udl" />
			<File Id="file8" Name="box.png" src="$(env.bolt.dir)\box.png" />
			<File Id="file9" Name="button.asp" src="$(env.bolt.dir)\button.asp" />
			<File Id="file10" Name="check.png" src="$(env.bolt.dir)\check.png" />
			<File Id="file11" Name="config.inc" src="$(env.bolt.dir)\config.inc" />
			<File Id="file13" Name="db_info.asp" src="$(env.bolt.dir)\db_info.asp" />
			<File Id="file14" Name="dd.css" src="$(env.bolt.dir)\dd.css" />
			<File Id="file15" Name="ddonline.asp" src="$(env.bolt.dir)\ddonline.asp" />
			<File Id="file16" Name="ddonline.inc" src="$(env.bolt.dir)\ddonline.inc" />
			<File Id="file17" Name="default.asp" src="$(env.bolt.dir)\default.asp" />
			<File Id="file18" Name="dovetail.png" src="$(env.bolt.dir)\dovetail.png" />
			<File Id="file19" Name="empty.gif" src="$(env.bolt.dir)\empty.gif" />
			<File Id="file20" Name="footer.asp" src="$(env.bolt.dir)\footer.asp" />
			<File Id="file21" Name="form.asp" src="$(env.bolt.dir)\form.asp" />
			<File Id="file22" Name="formdoc.vbd" src="$(env.bolt.dir)\formdoc.vbd" />
			<File Id="file23" Name="forms.asp" src="$(env.bolt.dir)\forms.asp" />
			<File Id="file24" LongName="formsonline.asp" Name="FORMSO_1.ASP" src="$(env.bolt.dir)\formsonline.asp" />
			<File Id="file25" LongName="form_view.CAB" Name="FORM_V_1.CAB" src="$(env.bolt.dir)\form_view.CAB" />
			<File Id="file26" LongName="form_view.dll" Name="FORM_V_1.DLL" src="$(env.bolt.dir)\form_view.dll" />
			<File Id="file27" Name="header.inc" src="$(env.bolt.dir)\header.inc" />
			<File Id="file28" Name="help2.png" src="$(env.bolt.dir)\help2.png" />
			<File Id="file29" Name="licenses.asp" src="$(env.bolt.dir)\licenses.asp" />
			<File Id="file34" Name="online.asp" src="$(env.bolt.dir)\online.asp" />
			<File Id="file35" LongName="parentchildform.asp" Name="PARENT_1.ASP" src="$(env.bolt.dir)\parentchildform.asp" />
			<File Id="file36" LongName="pngbehavior.htc" Name="PNGBEH_1.HTC" src="$(env.bolt.dir)\pngbehavior.htc" />
			<File Id="file37" Name="question.gif" src="$(env.bolt.dir)\question.gif" />
			<File Id="file38" LongName="quicklinks.inc" Name="QUICKL_1.INC" src="$(env.bolt.dir)\quicklinks.inc" />
			<File Id="file39" LongName="quick_links.asp" Name="QUICK_2.ASP" src="$(env.bolt.dir)\quick_links.asp" />
			<File Id="file40" LongName="quick_search.asp" Name="QUICK_3.ASP" src="$(env.bolt.dir)\quick_search.asp" />
			<File Id="file41" LongName="recent_objects.asp" Name="RECENT_1.ASP" src="$(env.bolt.dir)\recent_objects.asp" />
			<File Id="file42" Name="search.png" src="$(env.bolt.dir)\search.png" />
			<File Id="file43" LongName="search_fields.asp" Name="SEARCH_1.ASP" src="$(env.bolt.dir)\search_fields.asp" />
			<File Id="file44" LongName="search_rels.asp" Name="SEARCH_2.ASP" src="$(env.bolt.dir)\search_rels.asp" />
			<File Id="file45" LongName="select_biz_rules.asp" Name="SELECT_2.ASP" src="$(env.bolt.dir)\select_biz_rules.asp" />
			<File Id="file46" LongName="select_biz_rules2.asp" Name="SELECT_1.ASP" src="$(env.bolt.dir)\select_biz_rules2.asp" />
			<File Id="file47" Name="sql.asp" src="$(env.bolt.dir)\sql.asp" />
			<File Id="file48" Name="sql_view.asp" src="$(env.bolt.dir)\sql_view.asp" />
			<File Id="file49" Name="table.asp" src="$(env.bolt.dir)\table.asp" />
			<File Id="file50" Name="tables.asp" src="$(env.bolt.dir)\tables.asp" />
			<File Id="file51" LongName="tablesort.htc" Name="TABLES_1.HTC" src="$(env.bolt.dir)\tablesort.htc" />
			<File Id="file52" Name="version.asp" src="$(env.bolt.dir)\version.asp" />
			<File Id="file53" Name="view.asp" src="$(env.bolt.dir)\view.asp" />
			<File Id="file54" Name="views.asp" src="$(env.bolt.dir)\views.asp" />
			<File Id="file55" Name="getform.asp" src="$(env.bolt.dir)\getform.asp" />
			<File Id="file56" Name="controls.asp" src="$(env.bolt.dir)\controls.asp" />
			<File Id="file58" LongName="union_view.asp" Name="union_1.asp" src="$(env.bolt.dir)\union_view.asp" />												
			<File Id="file62" LongName="schema_id_info.asp" Name="schemaid.asp" src="$(env.bolt.dir)\schema_id_info.asp" />				
			<File Id="file63" LongName="business_rule_report.asp" Name="bizrpt1.asp" src="$(env.bolt.dir)\business_rule_report.asp" />	
			<File Id="file64" LongName="report.inc" Name="report.inc" src="$(env.bolt.dir)\report.inc" />	
			<File Id="file65" LongName="clarifyID_help.asp" Name="clfyID1.asp" src="$(env.bolt.dir)\clarifyID_help.asp" />		
			<File Id="file71" LongName="inc_vbscript.inc" Name="inc_vbs.inc" src="$(env.bolt.dir)\inc_vbscript.inc" />													
			<File Id="file72" LongName="clarifyID.asp" Name="clfyID.asp" src="$(env.bolt.dir)\clarifyID.asp" />	
			<File Id="file73" LongName="parseuri.js" Name="parseuri.js" src="$(env.bolt.dir)\parseuri.js" />		
			<File Id="file74" Name="delete.png" src="$(env.bolt.dir)\delete.png" />					
		</Component>
		
		<Directory Id="jQuery" Name="jQuery">
			<Component Id="jQuery" Guid="098dc9b1-dfad-477e-a838-dff299fb8586" DiskId="1">
					<File Id="file59" LongName="jquery.tablesorter.min.js" Name="jquery_1.js" src="$(env.bolt.dir)\jQuery\jquery.tablesorter.min.js" />
					<File Id="file60" LongName="jquery-latest.js" Name="jquery_2.js" src="$(env.bolt.dir)\jQuery\jquery-latest.js" />
					<File Id="file61" LongName="jquery-latest.min.js" Name="jquery_3.js" src="$(env.bolt.dir)\jQuery\jquery-latest.min.js" />
			</Component>
		</Directory>

		<Directory Id="ClarifyID" LongName="ClarifyID" Name="ClfyID">
			<Component Id="ClarifyID" Guid="64a996cf-b7bf-41d8-8428-4da8734e1796" DiskId="1">
					<File Id="file66" LongName="web.config" Name="web.cfg" src="$(env.bolt.dir)\ClarifyID\web.config" />
			</Component>
		</Directory>

		<Directory Id="images" Name="images">
			<Component Id="images" Guid="57f538a8-fcd5-45c6-951f-3eda2dc51149" DiskId="1">
					<File Id="file67" LongName="bolt_help.jpg" Name="bolthelp.jpg" src="$(env.bolt.dir)\images\bolt_help.jpg" />
					<File Id="file68" LongName="icon-warning.png" Name="iconwarn.png" src="$(env.bolt.dir)\images\icon-warning.png" />
					<File Id="file69" LongName="iis.png" Name="iis.png" src="$(env.bolt.dir)\images\iis.png" />
					<File Id="file70" LongName="preferences.jpg" Name="prefs.jpg" src="$(env.bolt.dir)\images\preferences.jpg" />										
			</Component>
		</Directory>						
												
	</Directory>
	</Directory>
	</Directory>
	<Directory Id="ProgramMenuFolder" Name="PMenu" LongName="Programs">
	<Directory Id="ProgramMenuCompanyDir" Name="DoveSoft" LongName="Dovetail Software">
	  <Component Id="companyDirShortcuts" Guid="{799448F7-7F12-458f-A1F0-FD30277F9FB9}">
	    <CreateFolder />
	    <RemoveFolder Id="ProgramMenuCompanyDir" Directory="ProgramMenuCompanyDir" On="uninstall" />
	  </Component>
	  <Directory Id="ProgramMenuDir" Name="Bolt">
	    <Component Id="boltShortcuts" Guid="{FF6798DF-35E3-40fb-9DEB-FF4681276ADB}">
	      <CreateFolder />
	      <RemoveFolder Id="ProgramMenuDir" Directory="ProgramMenuDir" On="uninstall" />
	      <Shortcut Id="dovetailURL.url" Directory="ProgramMenuDir" Name="doveURL" LongName="Dovetail Website" Target="[dovetailURL]" Show="normal" Icon="applicationIcon" />
	    </Component>
	  </Directory>
	</Directory>
	</Directory>
	</Directory>

	<WebSite Id="DefaultWebSite" Description="Default Web Site">
		<WebAddress Id="AllUnassigned" Port="80" />
	</WebSite>

	<Feature Id="Complete" Title="Bolt" Description="Windows Server and supporting documentation." Display="expand" Level="1" ConfigurableDirectory="INSTALLDIR">
		<Feature Id="Bolt" Title="Bolt Web Application" Description="Bolt is a visualization tool for Clarify Databases" Level="1">
			<ComponentRef Id="boltWebApplicationFiles" />
			<ComponentRef Id="jQuery" />
			<ComponentRef Id="images" />
			<ComponentRef Id="ClarifyID" />
			<ComponentRef Id="boltIIS5" />
			<ComponentRef Id="boltIIS6" />
			<ComponentRef Id="companyDirShortcuts" />
			<ComponentRef Id="boltShortcuts" />
		</Feature>
		<Feature Id="Documentation" Title="Documentation" Description="Bolt Documentation" Level="1">
			<ComponentRef Id="boltDocumentation" />
		</Feature>
	</Feature>
		
	<UIRef Id="WixUI" />
	<UIRef Id="WixUI_ErrorProgressText" />
	
	<CustomAction Id="ConfigureUDL" BinaryKey="shellExec" ExeCommand="&quot;[INSTALLDIR]\bolt.udl&quot; /WAIT" Return="ignore"/>
	<CustomAction Id="LaunchBolt" BinaryKey="shellExec" ExeCommand="[BOLTURL]" Return="asyncNoWait"/>

	<InstallExecuteSequence>
	  <Custom Action="ConfigureUDL" After="InstallFinalize"><![CDATA[NOT Installed AND CONFIGUREUDL = "yes"]]></Custom>
	  <Custom Action="LaunchBolt" After="ConfigureUDL"><![CDATA[NOT Installed AND LAUNCHBOLT = "yes"]]></Custom>
	</InstallExecuteSequence>

	<Binary Id="shellExec" src="$(env.bolt.tools.dir)\ShelExec.exe" />
	<Icon Id="applicationIcon" SourceFile="Bitmaps\dovetail.ico" />

	</Product>
</Wix>